module.exports = {
  mysql: {
    connectionLimit: 10,
    host: '108.61.186.24',
    user: 'bitmex3536',
    password: 'BitMex*95645636',
    database: 'blockreducer2',
    port: 3306,
  },
  dbTblName: {
    tradeBucketed: 'trade_bucketed',
    tradeBucketed1m: 'trade_bucketed_1m',
    tradeBucketed5m: 'trade_bucketed_5m',
    tradeBucketed1h: 'trade_bucketed_1h',

    fft: 'fft',
    fft5m: 'fft_5m',
    fft1h: 'fft_1h',

    tradesBuffer: 'trades_buffer',
    volume: 'volume',
    volume1m: 'volume_1m',
    volume5m: 'volume_5m',
    volume1h: 'volume_1h',

    vwap1m: 'vwap_1m',
    vwap5m: 'vwap_5m',
    vwap1h: 'vwap_1h',

    id0: 'id0',
    id0_1m: 'id0_1m',
    id0_5m: 'id0_5m',
    id0_1h: 'id0_1h',

    interestedNValue1m: 'interested_n_value_1m',
    interestedNValue5m: 'interested_n_value_5m',
    interestedNValue1h: 'interested_n_value_1h',

    deribitInstruments: 'deribit_instruments',
    deribitInstruments2: 'deribit_instruments2',

    footprint: 'footprint',
    footprint1m: 'footprint_1m',
    footprint5m: 'footprint_5m',
    footprint1h: 'footprint_1h',

    fftFixTask: 'fft_fix_task',
  },
  bitmex: {
    testnet: false,
    baseUrlRealnet: 'https://www.bitmex.com/api/v1',
    baseUrlTestnet: 'https://testnet.bitmex.com/api/v1',
    wsUrlTestnet: 'wss://testnet.bitmex.com/realtime',
    wsUrlRealnet: 'wss://www.bitmex.com/realtime',
    bufferSize: 750,
    pathTradeBucketed: '/trade/bucketed',
    pathInstrument: '/instrument',
  },
  deribit: {
    testnet: false,
    baseUrlTestnet: 'https://test.deribit.com',
    baseUrlRealnet: 'https://www.deribit.com',
    pathInstruments: '/api/v2/public/get_instruments',
    pathTicker: '/api/v2/public/ticker',
  },
  bitfinex: {
    testnet: false,
    baseUrlPublic: 'https://api-pub.bitfinex.com/v2',
    baseUrlPrivate: 'https://pub.bitfinex.com/v2',
    wsUrlPublic: 'wss://api-pub.bitfinex.com/ws/2',
    wsUrlPrivate: 'wss://api.bitfinex.com/ws/2',
    bufferSize: 750,
    pathCandleTrade: '/candles/trade',
  },
  bybit: {
    testnet: false,
    wsUrlTestnet: 'wss://stream-testnet.bybit.com/realtime',
    wsUrlRealnet: 'wss://stream.bybit.com/realtime',
  }
};
